//@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");//

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CalSans";
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// основной шрифт и размер //

$fontFamily: "Poppins", sans-serif;
$fontWeight: 400;
$fontSize: 16px;
$mainColor: #666666;

@import "_null";

//============= Общие стили ===============//

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  max-width: 1230px; // сначала контейнер был 1200 как на макете, стал 1230 изза padding 30px
  margin: 0px auto;
  padding: 0px 15px;
  @media (max-width: 1200px) {
    // max-width: 970px;
  }
  @media (max-width: 1087px) {
    // max-width: 970px;
  }
  @media (max-width: 991.98px) {
    // max-width: 750px;
  }
  @media (max-width: 767.98px) {
    // max-width: none;
  }
}

[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.title {
  font-family: "CalSans";
  font-size: 44px;
  text-align: center;
  line-height: 120%;
  color: #121212;
  span {
    color: #ff6428;
  }
  @media (max-width: 767.98px) {
    font-size: 38px;
  }
}

//================ Общие стили ===========//

//================ header ===============//
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  // .header__container

  &__container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    gap: 131px;
    align-items: center;
    min-height: 158px;
    @media (max-width: 1092px) {
      gap: 50px;
      min-height: 100px;
    }
    @media (max-width: 767.98px) {
      gap: 50px;
      min-height: 65px;
    }
    @media (max-width: 479.98px) {
      gap: 15px;
    }
  }

  // .header__logo

  &__logo {
    @media (max-width: 479.98px) {
      width: 40px;
      flex: 0 0 28px;
      overflow: hidden;
    }
  }

  // .header__menu

  &__menu {
    @media (max-width: 479.98px) {
      padding: 0;
    }
  }
}
.menu {
  padding: 10px 15px 10px 0px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  @media (max-width: 479.98px) {
    padding-right: 0;
  }
  // .menu__list

  &__list {
    display: flex;
    column-gap: 56px;
    row-gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 1092px) {
      column-gap: 40px;
    }
    @media (max-width: 479.98px) {
      column-gap: 20px;
    }
  }

  // .menu__link

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(18, 18, 18, 0.4);
    &:hover {
      text-decoration: underline;
    }
  }
}

//================ header ===============//

//================ main ===============//

.main {
  padding: 0px 0px 80px 0px;
  @media (max-width: 991.98px) {
    padding: 0px 0px 50px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 0px 0px 30px 0px;
  }
  // .main__container

  &__container {
    display: flex;
  }

  // .main__content

  &__content {
    flex: 0 1 50%;
    align-self: flex-end;
    padding: 120px 20px 60px 0px;
    @media (max-width: 1092px) {
      flex: 0 0 60%;
      padding-bottom: 0;
    }
    @media (max-width: 767.98px) {
      flex: 1 1 100%;
      padding-right: 0;
      padding-top: 80px;
    }
  }

  // .main__title

  &__title {
    font-family: "CalSans";
    font-weight: 600;
    font-size: 56px;
    line-height: 1.2;
    color: #121212;
    span {
      color: #ff6428;
    }
    &:not(:last-child) {
      margin: 0px 0px 16px 0px;
    }
    @media (max-width: 767.98px) {
      font-size: 44px;
    }
  }

  // .main__text

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    max-width: 420px;
    &:not(:last-child) {
      margin: 0px 0px 33px 0px;
    }
  }

  // .main__decor

  &__decor {
    flex: 0 1 50%;
    @media (max-width: 1092px) {
      flex: 0 0 40%;
    }
    @media (max-width: 767.98px) {
      display: none;
    }
  }
}

.actions-main {
  display: flex;
  align-items: center;
  @media (max-width: 479.98px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  // .actions-main__button

  &__button {
    padding: 18.5px 48px;
    background-color: #ff6428;
    border-radius: 40px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    &:not(:last-child) {
      margin: 0px 40px 0px 0px;
    }
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #ba4619;
    }
    @media (max-width: 479.98px) {
      flex: 1 1 100%;
      &:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
    }
  }

  // .actions-main__icon

  &__icon {
    &:not(:last-child) {
      margin: 0px 27px 0px 0px;
    }
  }
}

.main {
  // .main__image

  &__image {
    //display: inline-block;
    position: relative;
    margin-right: -135px;
    padding-bottom: 97.6%;
    max-width: 672px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 0 0 160px 375px;
    }
    &::after {
      content: "";
      background: url("../img/main/decor.svg") 0 0 no-repeat;
      width: 80px;
      height: 80px;
      position: absolute;
      right: 36.3%;
      bottom: 0;
      transform: translate(0, 50%);
    }
    @media (max-width: 1092px) {
      img {
        width: 100%;
      }
    }
  }
}

//================ main ===============//

//============== store ===============//

.store {
  padding: 80px 0px 90px 0px;
  @media (max-width: 991.98px) {
    padding: 50px 0px 50px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 30px 0px 30px 0px;
  }

  // .store__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 86px 0px;
    }
    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 50px 0px;
      }
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }
}

.body-store {
  // .body-store_top

  &_top {
    &:not(:last-child) {
      margin: 0px 0px 96px 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 56px 0px;
      }
    }
  }

  // .body-store__header

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    &:not(:last-child) {
      margin: 0px 0px 32px 0px;
    }
  }

  // .body-store__title

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #121212;
    text-transform: uppercase;
  }

  // .body-store__all

  &__all {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #868686;
  }

  // .body-store__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px;
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 560.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.item {
  display: grid;
  // .item__image

  &__image {
    text-align: center;
    &:not(:last-child) {
      margin: 0px 0px 40px 0px;
    }
    img {
      max-width: 100%;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 20px 0px;
      }
    }
  }

  // .item__title

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
    justify-self: start;
    &:not(:last-child) {
      margin: 0px 0px 7px 0px;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  // .item__price

  &__price {
    font-size: 14px;
    line-height: 150%;
    color: #666666;
  }
}

//============== store ===============//

//=========== categories ============//

.categories {
  padding: 90px 0px 110px 0px;
  @media (max-width: 991.98px) {
    padding: 50px 0px 50px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 30px 0px 30px 0px;
  }

  // .categories__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 80px 0px;
    }
    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 50px 0px;
      }
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .categories__items

  &__items {
    max-width: 1088px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
    row-gap: 30px;
    @media (max-width: 1230px) {
      column-gap: 40px;
    }
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }
    @media (max-width: 479.98px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }
}

.item-category {
  position: relative;
  &:hover .item-category__image {
    img {
      transform: scale(1.1);
    }
  }
  // .item-category__title

  &__title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 30px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    z-index: 3;
  }

  // .item-category__image

  &__image {
    position: relative;
    padding: 0px 0px 127.5% 0px;
    border-radius: 20px;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%);
      z-index: 2;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: all 0.3s ease 0s;
    }
  }
}

//=========== categories ============//

//============= brands =============//

.brands {
  padding: 110px 0px 180px 0px;
  @media (max-width: 991.98px) {
    padding: 50px 0px 50px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 30px 0px 30px 0px;
  }

  // .brands__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 75px 0px;
    }
    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 50px 0px;
      }
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 20px 0px;
      }
    }
  }

  // .brands__items

  &__items {
    max-width: 1022px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 80px;
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(3, auto);
      row-gap: 50px;
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      row-gap: 25px;
    }
  }

  // .brands__item

  &__item {
    img {
      max-width: 100%;
    }
  }
}

//============= brands =============//

//============== why ==============//

.why {
  background-color: #121212;
  padding: 94px 0px;
  @media (max-width: 991.98px) {
    padding: 50px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 30px 0px;
  }

  // .why__title

  &__title {
    color: #ffffff;
    &:not(:last-child) {
      margin: 0px 0px 75px 0px;
    }
    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 50px 0px;
      }
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 40px 0px;
      }
    }
  }

  // .why__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 991.98px) {
      //grid-template-columns: repeat(2, auto);
      //justify-content: center;
      gap: 20px;
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, auto);
    }
  }
}

.item-why {
  display: grid;
  justify-items: center;
  padding: 0px 35px;
  text-align: center;
  @media (max-width: 767.98px) {
    padding: 0px 20px;
  }
  // .item-why__icon

  &__icon {
    background-color: #262626;
    border-radius: 20px;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin: 0px 0px 40px 0px;
    }
  }

  // .item-why__title

  &__title {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
  }

  // .item-why__text

  &__text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #666666;
    max-width: 230px;
  }
}

//============== why ==============//

//=========== reviews ============//

.reviews {
  padding: 240px 0px;
  @media (max-width: 991.98px) {
    padding: 80px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 30px 0px;
  }

  // .reviews__title

  &__title {
    &:not(:last-child) {
      margin: 0px 0px 109px 0px;
    }
    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 50px 0px;
      }
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 40px 0px;
      }
    }
  }
}
//---------------------------------//

.reviews {
  // .reviews__swiper

  &__swiper {
    @media (max-width: 584px) {
      margin-left: -15px;
    }
  }
}

.slide-swiper-reviews {
  display: flex;
  @media (max-width: 1115px) {
    flex-direction: column;
  }
  // .slide-swiper-reviews__picture

  &__picture {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media (max-width: 1115px) {
      &:not(:last-child) {
        margin: 0px 0px 40px 0px;
      }
    }
  }

  // .slide-swiper-reviews__image

  &__image {
    width: 320px;
    height: 320px;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 50%;
    }
    &::before {
      content: "";
      background-color: #ff6428;
      border-radius: 40px 0px 400px 400px;
      transform: rotate(-20deg);
      position: absolute;
      width: 285px;
      height: 257px;
      top: 50px;
      left: -80px;
    }
    @media (max-width: 479.98px) {
      width: 270px;
      height: 270px;
      &::before {
        content: "";
        background-color: #ff6428;
        border-radius: 40px 0px 400px 400px;
        transform: rotate(-20deg);
        position: absolute;
        width: 225px;
        height: 187px;
        top: 50px;
        left: -60px;
      }
    }
  }

  // .slide-swiper-reviews__body

  &__body {
    flex: 0 1 50%;
    @media (max-width: 584px) {
      padding-left: 15px;
    }
  }

  // .slide-swiper-reviews__text

  &__text {
    font-size: 24px;
    line-height: 160%;
    color: #666666;
    &:not(:last-child) {
      margin: 0px 0px 56px 0px;
    }
    p {
      &:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
    }
    @media (max-width: 767.98px) {
      font-size: 18px;
    }
    @media (max-width: 497.98px) {
      &:not(:last-child) {
        margin: 0px 0px 25px 0px;
      }
    }
  }

  // .slide-swiper-reviews__name

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
    &:not(:last-child) {
      margin: 0px 0px 8px 0px;
    }
  }

  // .slide-swiper-reviews__position

  &__position {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #868686;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  transform: translate(0px, -100%);
  @media (max-width: 767.98px) {
    padding-top: 30px;
    transform: translate(0px, 0px);
    bottom: 0;
    position: relative;
    justify-content: center;
  }
  & .swiper-pagination-bullet {
    opacity: 1;
    background-color: #c4c4c4;
    border-radius: 20px;
    flex: 0 0 10px;
    height: 16px;
    transition: all 0.3s ease 0s;
  }
  & .swiper-pagination-bullet-active {
    background-color: #ff6428;
    flex: 0 0 24px;
  }
}
//=========== reviews ============//

//========== favorite ===========//

.favorite {
  padding: 0px 0px 120px 0px;
  @media (max-width: 991.98px) {
    padding: 50px 0px 50px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 30px 0px 30px 0px;
  }
  // .favorite__container

  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  // .favorite__body

  &__body {
    flex: 0 1 50%;
    padding-right: 20px;
  }

  // .favorite__title

  &__title {
    text-align: left;
    font-size: 48px;
    line-height: 140%;
    color: #000000;
    &:not(:last-child) {
      margin: 0px 0px 60px 0px;
    }
    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 40px 0px;
      }
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 20px 0px;
      }
    }
    @media (max-width: 991.98px) {
      font-size: 38px;
    }
  }

  // .favorite__images

  &__images {
    flex: 0 1 50%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}

.apps-favorite {
  display: flex;
  gap: 25px;
  // .apps-favorite__item

  &__item {
    img {
      max-width: 100%;
    }
  }
}

//========== favorite ===========//

//========== footer ===========//
.footer {
  background: #eeeeee;
  padding: 80px 0px 43px 0px;
  @media (max-width: 991.98px) {
    padding: 50px 0px 20px 0px;
  }
  @media (max-width: 767.98px) {
    padding: 30px 0px 20px 0px;
  }

  // .footer__copy

  &__copy {
    padding-top: 80px;
    text-align: center;
    @media (max-width: 767.98px) {
      padding-top: 50px;
    }
  }
}

.body-footer {
  display: flex;
  gap: 50px;
  @media (max-width: 991.98px) {
    flex-wrap: wrap;
    //justify-content: space-between;
  }
  // .body-footer__column

  &__column {
    @media (max-width: 991.98px) {
      &:first-child {
        flex: 1 1 100%;
      }
    }
    // .body-footer__column_full

    &_full {
      flex: 1 1 auto;
      @media (max-width: 991.98px) {
        flex: 0 1 50%;
        margin-right: 150px;
      }
      @media (max-width: 767.98px) {
        margin-right: 80px;
      }
      @media (max-width: 550px) {
        margin-right: 50px;
      }
      @media (max-width: 497.98px) {
        margin-right: 0px;
      }
    }
  }

  // .body-footer__logo

  &__logo {
    display: inline-block;
    &:not(:last-child) {
      margin: 0px 0px 28px 0px;
    }
  }
}

.contacts-footer {
  // .contacts-footer__item

  &__item {
    &:not(:last-child) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .contacts-footer__link

  &__link {
    display: inline-block;
    padding: 0px 0px 0px 44px;
    font-size: 16px;
    line-height: 160%;
    color: #666666;
    &:hover {
      text-decoration: underline;
    }
    // .contacts-footer__link_mail

    &_mail {
      background: url("../img/footer/mail.svg") left no-repeat;
    }

    // .contacts-footer__link_location

    &_location {
      background: url("../img/footer/location.svg") left no-repeat;
    }
  }
}

.menu-footer {
  display: flex;
  gap: 120px;
  justify-content: center;
  @media (max-width: 991.98px) {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  // .menu-footer__title

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #121212;
    &:not(:last-child) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .menu-footer__item

  &__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #121212;
    &:not(:last-child) {
      margin: 0px 0px 16px 0px;
    }
  }

  // .menu-footer__link

  &__link {
    font-size: 16px;
    line-height: 150%;
    color: rgba(18, 18, 18, 0.6);
    &:hover {
      text-decoration: underline;
    }
  }
}

.social-footer {
  // .social-footer__title

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #121212;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
  }

  // .social-footer__items

  &__items {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}

//========== footer ===========//
